<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
	<div id="user-chat-box">

		<div id="name-close">
			<p>Group Chat</p>
			<i class="fa fa-window-close close-chat"></i>
		</div>

		<hr>

		<ul id="chat-messages-list">
			<% if(chatMessages.length != 0){ %>
				<% for(let i = 0; i < chatMessages.length; i++){ %>
					<% if(chatMessages[i].userId != locals.user.userId){ %>
						<li class="other-message">
							<p><%= chatMessages[i].userId %></p>
							<span><%= chatMessages[i].message %></span>
						</li>
					<% }else{ %>
						<li class="self-message">
							<p>You</p>
							<span><%= chatMessages[i].message %></span>
						</li>
					<% } %>
				<% } %>
			<% } %>
		</ul>

		<hr>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>
