<!-- <link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>"> -->
<style>
	#user-chat-box{display:none;position:fixed;bottom:10px;right:10px;border:1px solid grey;height:450px;width:300px;background:#fff;padding:5px;border-radius:10px}#user-chat-box #name-close{display:flex;justify-content:space-between;font-size:18px;margin-left:5%;margin-bottom:-7%}#user-chat-box #name-close i{color:#000;font-size:25px;cursor:pointer}#user-chat-box #chat-messages-list::-webkit-scrollbar{display:none}#user-chat-box #chat-messages-list{list-style:none;padding:10px;height:70%;background-color:#fff;overflow-y:scroll}#user-chat-box #chat-messages-list li p{font-size:10px;margin-bottom:0}#user-chat-box #chat-messages-list .other-message{text-align:left}#user-chat-box #chat-messages-list .other-message span{display:inline-block;background-color:#9b9b9b;padding:0 5%;border:2px solid #9b9b9b}#user-chat-box #chat-messages-list .self-message{text-align:right}#user-chat-box #chat-messages-list .self-message span{display:inline-block;background-color:#758570;padding:0 5%;border:2px solid #758570}#user-chat-box #chat-message-input-container{height:20%;width:100%;display:flex;flex-direction:row;margin-top:-5px}#user-chat-box #chat-message-input-container #chat-message-input{height:50%;width:70%;text-decoration:none;outline:none;border-radius:10px}#user-chat-box #chat-message-input-container #send-message{outline:none;height:50%;width:30%;font-size:17px;color:#fff;border:none;background:#317a31;border-radius:10px;cursor:pointer}
</style>
<% if (locals.user){ %>
	<div id="user-chat-box">

		<div id="name-close">
			<p>Group Chat</p>
			<i class="fa fa-window-close close-chat"></i>
		</div>

		<hr>

		<ul id="chat-messages-list">
			<% if(chatMessages.length != 0){ %>
				<% for(let i = 0; i < chatMessages.length; i++){ %>
					<% if(chatMessages[i].userId != locals.user.userId){ %>
						<li class="other-message">
							<p><%= chatMessages[i].userId %></p>
							<span><%= chatMessages[i].message %></span>
						</li>
					<% }else{ %>
						<li class="self-message">
							<p>You</p>
							<span><%= chatMessages[i].message %></span>
						</li>
					<% } %>
				<% } %>
			<% } %>
		</ul>

		<hr>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>
