<!-- <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>"> -->
<style>
    #layout-footer{color:#000;position:fixed;bottom:0;text-align:center;width:100%;z-index:-1;padding:5px 10px;display:flex;justify-content:center}#layout-footer .footer-container{margin-bottom:0;font-weight:600}
</style>
<footer id="layout-footer">
    <div>
        <p class="footer-container">
            &#169; BETON - DOMINO. All Rights Reserved
        </p>
    </div>
</footer> 