<%= assetPath('css/forget_password.css') %>
<link rel="stylesheet" href="<%= assetPath('css/forget_password.css') %>">

<div class="container">
    <h2>RESET PASSWORD</h2>

    <form action="/users/reset-password" method="POST" id="reset-form">
        
        <input type="email" name="email" id="email" placeholder="Your Email *" required>
        <input type="tel" name="phone" id="phone" placeholder="Your Phone Number *" required>

        <div class="radioButton">
            <div>
                <input type="radio" name="verify" id="verify-email" value="EMAIL" checked>
                <label for="verify-email">Verify Using Email</label>
            </div>
            
            <div>
                <input type="radio" name="verify" id="verify-phone" value="PHONE">
                <label for="verify-phone">Verify Using Phone</label>
            </div>
        </div>
        <input type="submit" value="Submit" id="submit">
    </form>
</div>
