<link rel="stylesheet" href="<%= assetPath('css/forget_password.css') %>">

<div class="container">
    <h2>SET NEW PASSWORD</h2>

    <form action="/users/reset-password-db" method="POST" id="reset-form">
        
        <input type="password" name="password" id="password" placeholder="Password *" required>
        <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password *" required>
        <input type="hidden" name="email" value="<%= email %>">
        <input type="hidden" name="phone" value="<%= phone %>">

        <input type="submit" value="submit" id="submit">

    </form>
</div>
