#layout-footer{
    color: black;
    a{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    padding: 5px 10px;
    display: flex;
    justify-content: center;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}