#layout-header{
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        color: white;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo{
            #logo-img{
                height: 70px;
                width: 200px;
                background-image: url("../img/logo-img.png");
                background-size:cover;
            }
        }

        .auth-links{
            ul{
                margin: 5% 5px;
                display: flex;
                list-style: none;
                li{
                    margin-right: 15px;
                    margin-top: 20px;
                    font-size: larger;
                }
            }
        }

        a{
            color: white;
            text-decoration: none;
        }

    }
}