body{
    background-image: linear-gradient(140deg, #015e64 0%, #4c6d0f 50%, #07b2be 75%);
    font-family: sans-serif;
}

.container{
    height: 65%;
    width: 430px;
    background-color: white;
    border-radius: 3%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    margin-top: 120px;

    #login-form{
        input{
            block-size: 45px;
            width: 80%;
            font-size: 17px;
            margin-top: 4%;
        }

        #email{
            border: none;
            border-bottom: 1px solid black;
            padding-left: 5px;
            padding-top: 17px;
        }

        #password{
            border: none;
            border-bottom: 1px solid black;
            padding-left: 5px;
            padding-top: 17px;
        }

        #submit{
            width: 45%;
            block-size: 40px;
            margin-top: 30px;
            border-radius: 15px;
            border: 1px solid black;
            background-color: #5f82a0;
            color: white;
            cursor: pointer;
        }

        #submit:active{
            background-color: #576d80;
        }

        #horizontal-line{
            //height: 0.5%;
            background-color: black;
        }
    }

    input:focus{
        outline: none;
    }
    

    .line-1{
        display: inline-block;
        height: 2px;
        width: 35%;
        background-color: rgb(206, 206, 206);
    }

    #or{
        display: inline-block;
        color: grey;
        margin: 20px 5px 5px;
    }

    .google{
        position: relative;
        height:7%;
        width: 80%;
        border: 1px solid rgb(156, 154, 154);
        margin: auto;
        padding-top: 2%;
        font-size: 19px;
        border-radius: 50px;
        margin-top: 10%;

        .image{
            position: relative;
            margin-right: 85%;
            margin-top: 5px;
        }

        .link{
            margin-top: -22px;
            a{
                text-decoration: none;
                font-family: sans-serif;
                color: rgb(156, 154, 154);
                padding: 12px 100px 12px 90.5px;
                border-radius: 50px;
            }
        }

        :hover{
            border: 0px;
            background-color: rgb(228, 228, 228);
            transition: background-color 0.6s ease-out 100ms;
        }
    }

}