body{
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1559579313-021b6ec9f6d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhZGl1bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif;
}

.container{
    height: 75%;
    width: 435px;
    background-color: white;
    border-radius: 3%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    margin-top: 13%;
    padding-top: 3%;

    #login-form{
        input{
            block-size: 45px;
            width: 80%;
            font-size: 17px;
            margin-top: 4%;
        }

        #email{
            border: none;
            border-bottom: 1px solid black;
            padding-left: 5px;
            padding-top: 17px;
        }

        #password{
            border: none;
            border-bottom: 1px solid black;
            padding-left: 5px;
            padding-top: 17px;
        }

        #submit{
            width: 45%;
            block-size: 40px;
            margin-top: 30px;
            border-radius: 15px;
            border: 1px solid black;
            background-color: #5f82a0;
            color: white;
            cursor: pointer;
        }
        .forget-password{
            color: #576d80;
            margin-top: 2%;
            cursor: pointer;
        }
        .forget-password:hover{
            text-decoration: underline;
        }
        #submit:active{
            background-color: #576d80;
        }

        #horizontal-line{
            //height: 0.5%;
            background-color: black;
        }
    }

    input:focus{
        outline: none;
    }
    

    .line-1{
        display: inline-block;
        height: 2px;
        width: 35%;
        background-color: rgb(206, 206, 206);
    }

    #or{
        display: inline-block;
        color: grey;
        margin: 20px 5px 5px;
    }

    .google{
        position: relative;
        height:9.5%;
        width: 80%;
        border: 1px solid rgb(156, 154, 154);
        margin: auto;
        padding-top: 2%;
        font-size: 19px;
        border-radius: 50px;
        margin-top: 11%;

        .image{
            position: relative;
            margin-right: 85%;
            margin-top: 5px;
        }

        .link{
            margin-top: -24px;
            a{
                text-decoration: none;
                font-family: sans-serif;
                color: rgb(156, 154, 154);
                padding: 12px 70px 12px 90.5px;
                border-radius: 50px;
            }
        }

        :hover{
            border: 0px;
            background-color: rgb(228, 228, 228);
            transition: background-color 0.6s ease-out 100ms;
        }
    }

}