p{
    padding: 0;
    margin: 0;
}

a{
    color: #aed5ff;
}

a:hover{
    color: #aed5ff;
}

.container{
    width: 75%;
    height: auto;
    margin-bottom: 5%;
}

.user-details{
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 1.5% 3%;
}

#user-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#follow-button-div button{
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 3% 6%;
    background-color: rgb(110, 168, 179);
    font-weight: 600;
    cursor: pointer;
}

#follow-button-div button:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in;
}

#user-name{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

.user-name-hello{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.followers, .following{
    text-align: center;
    padding: 1.5% 1%;
    cursor: pointer;
}

#contest-details{
    display: none;

    #winning-amount{
        padding: 3%;
        margin: 2% 4%;
        text-align: center;
        background-color: rgb(226, 226, 226);
        border-radius: 10px;

        p{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    #general-stats{
        padding: 3%;
        margin: 2% 4%;
        background-color: rgb(226, 226, 226);
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
        text-align: center;
        border-radius: 10px;

        .general-stats-value{
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}

i{
    margin-left: -1%;
    color: gray;
    font-size: 22px;
}

.logo-name{
    display: flex;
    flex-direction: row;
    padding: 1.5% 3%;

    p{
        margin-left: 2%;
        margin-top: -0.2%;
        font-weight: 600;
    }
}

.profile-sections, .profile-sections-main{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    margin: 2%;
    padding-bottom: 1%;
    border-radius: 10px;
    box-shadow: 8px 8px 12px 2px rgba(0,0,0,0.4);
}

.profile-sections:hover{
    cursor: pointer;
    transform: scale(1.008);
}

#referAndEarn,#wallet-details,#transaction-details-container{
    padding: 3%;
    margin: 2% 4%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: none;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.transaction-details{
    padding: 2%;
    margin: 2%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.amount{
    width: 10%;
}
.action{
    color: green;
    text-align: left;
    width: 25%;
}
.transactioId{
    width: 40%;
}
.date{
    width: 25%;
}

#wallet-logo{
    color: green;
}

#add-money-button, #withdraw-money-button, #add-account-button{
    padding: 0.7%;
    font-weight: 500;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(136, 136, 136);
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.2rem;
    margin-top: 2%;
}

#add-money-button:hover{
    background-color: rgb(3, 141, 3);
    transition: 0.2s ease-in;
}

#withdraw-money-button:hover{
    background-color: rgb(184, 5, 5);
    transition: 0.2s ease-in;
}

#enter-add-amount-div, #enter-withdraw-amount-div{
    display: none;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding: 3%;
    margin: 2% 4%;
    p{
        margin-left: 18%;
        font-size: 1.2rem;
        margin-bottom: 1%;
    }

    #add-cash-button, #withdraw-cash-button{
        width: 15%;
        padding: 0.6%;
        border-radius: 10px;
        background-color: rgb(139, 139, 139);
        margin-left: 42.5%;
        margin-top: 3%;
        font-weight: 600;
    }
}

#rupee-amount-input{
    display: flex;
}

#rupee-icon{
    width: 15%;
    background-color: rgb(190, 221, 159);
    text-align: center;
    margin-left: 17.5%;
    padding: 1% 0%;
    border: 1px solid green;
    font-size: 1.5rem;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
}

#enter-add-amount-input, #enter-withdraw-amount-input{
    width: 50%;
    border: 1px solid green;
    border-left: 0;
    padding-left: 2%;
    outline: none;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 0 10px 10px 0;
}

#my-balance-title{
    font-size: 1.5rem;
}

#wallet-balance{
    font-size: 2rem;
    font-weight: 700;
}

fieldset{
    border: 1px dashed black;
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    margin: auto;
}

legend{
    font-size: 0.8rem;
    width: auto;
    text-align: left;
}

#refer-code{
    width: auto;
    overflow-wrap: break-word;
}

.get-upto{
    font-size: 1.2rem;
    font-weight: 700;
}

.refer-earn-price{
    font-size: 2rem;
    color: green;
    font-weight: 800;
}

.referral-msg{
    font-size: 1.1rem;
    font-weight: 600;
}

#enter-account-div{
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding: 3%;
    margin: 2% 4%;
    display: none;
    p{
        margin-left: 30%;
        font-size: 1.1rem;
    }
}


#ifsc-account-div{
    input{
        width:40%;
        margin-left: 30%;
        border: 1px solid green;
        padding: 1%;
        margin-top: 1%;
        outline: none;
        font-size: 1.2rem;
        font-weight: 400;
        border-radius: 10px;
    }
}

#add-account-button{
    width: 20%;
    margin-left: 40%;
    font-size: 1.1rem;
}

#followers-list, #following-list{
    display: none;
    position: absolute;
    background-image: url('https://media.istockphoto.com/photos/grass-field-ground-top-view-picture-id1192236248?k=20&m=1192236248&s=612x612&w=0&h=QcNPrNc_LLaUI5H1mmGpsIyT0mX-OHFTZk_redKHcUs=');
    width: 26%;
    height: 50%;
    top: 25%;
    left: 37%;
    border-radius: 10px;
    overflow: scroll;
    
    #followers-list-heading, #following-list-heading{
        color: white;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1%;
        border-bottom: 0.5px solid gray;
        padding-bottom: 2%;
    }

    #close-followers-list, #close-following-list{
        position: absolute;
        color: white;
        top: 2%;
        right: 1.5%;
        cursor: pointer;
    }

    #following-userNames, #followers-userNames{
        color: white;
        padding: 1.5% 5%;
        font-size: 1.1rem;
    }

    #following-image, #follower-image{
        height: 30px;
        width: 33px;
        border-radius: 50%;
        margin-right: 3%;
    }
}

#followers-list::-webkit-scrollbar, #following-list::-webkit-scrollbar{
    display: none;
}