#layout-footer {
  color: black;
  padding: 5px 10px;
  display: flex;
  justify-content: center; }
  #layout-footer a {
    color: black;
    font-weight: bold;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
