body {
    overflow: hidden;
    /* background-image: url("https://images.unsplash.com/photo-1559579313-021b6ec9f6d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhZGl1bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif; }
  
  .container {
    height: auto;
    width: 430px;
    background-color: white;
    border-radius: 3%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    margin-top: 120px;
    padding-top: 20px; }
    .container #reset-form input {
      block-size: 45px;
      width: 80%;
      font-size: 17px;
      margin-top: 4%; }
    .container #reset-form #email {
      border: none;
      border-bottom: 1px solid black;
      padding-left: 5px;
      padding-top: 17px; }
    .container #reset-form #submit {
      width: 45%;
      block-size: 40px;
      margin-top: 30px;
      border-radius: 15px;
      border: 1px solid black;
      background-color: #5f82a0;
      color: white;
      cursor: pointer; }
    .container #reset-form #phone {
      border: none;
      border-bottom: 1px solid black;
      padding-left: 5px;
      padding-top: 17px; }
    .container #reset-form .radioButton {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;
      margin-top: 20px; }
    .container #reset-form #verify-email {
      border: 0px;
      width: auto;
      height: 1em; }
    .container #reset-form #verify-phone {
      border: 0px;
      width: auto;
      height: 1em; }
    .container #reset-form #submit:active {
      background-color: #576d80; }
    .container #reset-form #horizontal-line {
      background-color: black; }
    .container input:focus {
      outline: none; }
    
    