#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #layout-header nav .mini-logo #logo-img {
    height: 50px;
    width: 200px;
    background-image: url("../img/logo_img.jpg");
    background-size: cover; }
  #layout-header nav .auth-links ul {
    margin: 5% 5px;
    display: flex;
    list-style: none; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
