body{
    /* background-image: url('https://images.unsplash.com/photo-1559579313-021b6ec9f6d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhZGl1bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#leaderboard-heading{
    text-align: center;
    font-family: monospace;
}
.container{
    width: 60%;
}

.grid-container1{
    display: grid;
    grid-template-columns: 50% 30% 20%;
}

.other-user-standing{
    display: grid;
    grid-template-columns: 50% 30% 20%;
}

.grid-item {
    font-size: 15px;
    text-align: left;
    color: black;
    background-color: rgba(255,255,255,0.8);
    border-bottom: 1px solid gray;
    padding-left: 5%;
    font-weight: 700;
    padding: 2%;
}

#userId{
    color: #014c9c;
}

.user-team{
    display: none;
    flex-direction: column;
    position: fixed;
    background-image: url('https://media.istockphoto.com/photos/grass-field-ground-top-view-picture-id1192236248?k=20&m=1192236248&s=612x612&w=0&h=QcNPrNc_LLaUI5H1mmGpsIyT0mX-OHFTZk_redKHcUs=');
    height: 90%;
    width: 42%;
    left: 29%;
    top: 9%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    overflow-y: scroll;
    border-radius: 10px;
    z-index: 20;
}

.user-team::-webkit-scrollbar{
    display: none;
}

.other-user-standing:hover{
    background-color: rosybrown;
}

.grid-item-header{
    background-color: #a7a0a0;
}

.user-team-position{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.player-icon{
    height: 100px;
    width: 100px;
    margin: auto;
}

.player-icon-name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    align-items:center;
}

.playerName{
    align-items: center;
    text-align: center;
    width: auto;
    color: rgb(214, 213, 213);
    margin-top: -11%;
    padding-left: 7%;
    padding-right: 7%;
    background-color: black;
    border-radius: 10px;
}

.playerPoints{
    align-items: center;
    text-align: center;
    width: auto;
    color: rgb(204, 204, 204);
    margin-top: -13%;
}

.position-heading{
    text-align: center;
    font-weight: bolder;
    margin-top: 2%;
}

.close-team{
    position: absolute;
    right: 1%;
    top: 0.5%;
    color: rgb(214, 213, 213);
    font-size: 24px;
}

.close-team:hover{
    cursor: pointer;
}