body{
    background-image: url('https://images.unsplash.com/photo-1559579313-021b6ec9f6d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhZGl1bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.teams{
    display: flex;
    justify-content: space-around;
}

.match-info{
    padding: 3%;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.card{
    margin: 10px;
    width: 20rem;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    color: black;
}

.match-status{
    margin-bottom: 0;
}
.match-status-lineup{
    color: red;
    font-size: big;
    margin-bottom: 0;
}

.match-cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
}

.match-card-main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.matches-status-heading{
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    font-family: monospace;
    font-weight: 500;
}