body {
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1559579313-021b6ec9f6d6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhZGl1bXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: sans-serif; }

.container {
  height: 75%;
  width: 435px;
  background-color: white;
  border-radius: 3%;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  margin-top: 13%;
  padding-top: 3%; }
  .container #login-form input {
    block-size: 45px;
    width: 80%;
    font-size: 17px;
    margin-top: 4%; }
  .container #login-form #email {
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-top: 17px; }
  .container #login-form #password {
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-top: 17px; }
  .container #login-form #submit {
    width: 45%;
    block-size: 40px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #5f82a0;
    color: white;
    cursor: pointer; }
  .container #login-form .forget-password {
    color: #576d80;
    margin-top: 2%;
    cursor: pointer; }
  .container #login-form .forget-password:hover {
    text-decoration: underline; }
  .container #login-form #submit:active {
    background-color: #576d80; }
  .container #login-form #horizontal-line {
    background-color: black; }
  .container input:focus {
    outline: none; }
  .container .line-1 {
    display: inline-block;
    height: 2px;
    width: 35%;
    background-color: #cecece; }
  .container #or {
    display: inline-block;
    color: grey;
    margin: 20px 5px 5px; }
  .container .google {
    position: relative;
    height: 9.5%;
    width: 80%;
    border: 1px solid #9c9a9a;
    margin: auto;
    padding-top: 2%;
    font-size: 19px;
    border-radius: 50px;
    margin-top: 11%; }
    .container .google .image {
      position: relative;
      margin-right: 85%;
      margin-top: 5px; }
    .container .google .link {
      margin-top: -24px; }
      .container .google .link a {
        text-decoration: none;
        font-family: sans-serif;
        color: #9c9a9a;
        padding: 12px 70px 12px 90.5px;
        border-radius: 50px; }
    .container .google :hover {
      border: 0px;
      background-color: #e4e4e4;
      transition: background-color 0.6s ease-out 100ms; }
