p {
  padding: 0;
  margin: 0; }

.container {
  width: 75%;
  height: auto;
  margin-bottom: 5%; }

.user-details {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 1.5% 3%; }

#user-image {
  height: 100px;
  width: 100px;
  border-radius: 50%; }

#user-name {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold; }

.user-name-hello {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

#contest-details {
  display: none; }
  #contest-details #winning-amount {
    padding: 3%;
    margin: 2% 4%;
    text-align: center;
    background-color: #e2e2e2;
    border-radius: 10px; }
    #contest-details #winning-amount p {
      font-size: 1.2rem;
      font-weight: bold; }
  #contest-details #general-stats {
    padding: 3%;
    margin: 2% 4%;
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    text-align: center; }
    #contest-details #general-stats .general-stats-value {
      font-weight: bold;
      font-size: 1.2rem; }

i {
  margin-left: -1%;
  color: gray;
  font-size: 22px; }

.logo-name {
  display: flex;
  flex-direction: row;
  padding: 1.5% 3%; }
  .logo-name p {
    margin-left: 2%;
    margin-top: -0.2%;
    font-weight: 600; }

.profile-sections {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin: 2%;
  padding-bottom: 1%; }

#referAndEarn, #wallet-details {
  padding: 3%;
  margin: 2% 4%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: none;
  background-color: #e2e2e2;
  border-radius: 20px;
  transition: visibility 0s, opacity 0.5s linear; }

#wallet-logo {
  color: green; }

#my-balance-title {
  font-size: 1.5rem; }

#wallet-balance {
  font-size: 2rem;
  font-weight: 700; }

fieldset {
  border: 1px dashed black;
  border-radius: 10px;
  padding: 2%;
  width: 50%;
  margin: auto; }

legend {
  font-size: 0.8rem;
  width: auto;
  text-align: left; }

#refer-code {
  width: auto;
  overflow-wrap: break-word; }

.get-upto {
  font-size: 1.2rem;
  font-weight: 700; }

.refer-earn-price {
  font-size: 2rem;
  color: green;
  font-weight: 800; }

.referral-msg {
  font-size: 1.1rem;
  font-weight: 600; }
