p {
  padding: 0;
  margin: 0; }

.container {
  width: 75%;
  height: auto;
  margin-bottom: 5%; }

.user-details {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 1.5% 3%; }

#user-image {
  height: 100px;
  width: 100px;
  border-radius: 50%; }

#user-name {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold; }

.user-name-hello {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

#contest-details {
  display: none; }
  #contest-details #winning-amount {
    padding: 3%;
    margin: 2% 4%;
    text-align: center;
    background-color: #e2e2e2;
    border-radius: 10px; }
    #contest-details #winning-amount p {
      font-size: 1.2rem;
      font-weight: bold; }
  #contest-details #general-stats {
    padding: 3%;
    margin: 2% 4%;
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    text-align: center; }
    #contest-details #general-stats .general-stats-value {
      font-weight: bold;
      font-size: 1.2rem; }

i {
  margin-left: -1%;
  color: gray;
  font-size: 22px; }

.logo-name {
  display: flex;
  flex-direction: row;
  padding: 1.5% 3%; }
  .logo-name p {
    margin-left: 2%;
    margin-top: -0.2%;
    font-weight: 600; }

.profile-sections {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  margin: 2%;
  padding-bottom: 1%;
  border-radius: 10px; }

#referAndEarn, #wallet-details {
  padding: 3%;
  margin: 2% 4%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  display: none;
  background-color: #e2e2e2;
  border-radius: 20px;
  transition: visibility 0.5s, opacity 0.5s linear; }

#wallet-logo {
  color: green; }

#add-money-button, #withdraw-money-button, #add-account-button {
  padding: 0.7%;
  font-weight: 500;
  width: 20%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #888888;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.2rem;
  margin-top: 2%; }

#add-money-button:hover {
  background-color: #038d03;
  transition: 0.2s ease-in; }

#withdraw-money-button:hover {
  background-color: #b80505;
  transition: 0.2s ease-in; }

#enter-add-amount-div, #enter-withdraw-amount-div {
  display: none;
  background-color: #e2e2e2;
  border-radius: 20px;
  padding: 3%;
  margin: 2% 4%; }
  #enter-add-amount-div p, #enter-withdraw-amount-div p {
    margin-left: 18%;
    font-size: 1.2rem;
    margin-bottom: 1%; }
  #enter-add-amount-div #add-cash-button, #enter-add-amount-div #withdraw-cash-button, #enter-withdraw-amount-div #add-cash-button, #enter-withdraw-amount-div #withdraw-cash-button {
    width: 15%;
    padding: 0.6%;
    border-radius: 10px;
    background-color: #8b8b8b;
    margin-left: 42.5%;
    margin-top: 3%;
    font-weight: 600; }

#rupee-amount-input {
  display: flex; }

#rupee-icon {
  width: 15%;
  background-color: #bedd9f;
  text-align: center;
  margin-left: 17.5%;
  padding: 1% 0%;
  border: 1px solid green;
  font-size: 1.5rem;
  border-right: 0px;
  border-radius: 10px 0 0 10px; }

#enter-add-amount-input, #enter-withdraw-amount-input {
  width: 50%;
  border: 1px solid green;
  border-left: 0;
  padding-left: 2%;
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 0 10px 10px 0; }

#my-balance-title {
  font-size: 1.5rem; }

#wallet-balance {
  font-size: 2rem;
  font-weight: 700; }

fieldset {
  border: 1px dashed black;
  border-radius: 10px;
  padding: 2%;
  width: 50%;
  margin: auto; }

legend {
  font-size: 0.8rem;
  width: auto;
  text-align: left; }

#refer-code {
  width: auto;
  overflow-wrap: break-word; }

.get-upto {
  font-size: 1.2rem;
  font-weight: 700; }

.refer-earn-price {
  font-size: 2rem;
  color: green;
  font-weight: 800; }

.referral-msg {
  font-size: 1.1rem;
  font-weight: 600; }

#enter-account-div {
  background-color: #e2e2e2;
  border-radius: 20px;
  padding: 3%;
  margin: 2% 4%;
  display: none; }
  #enter-account-div p {
    margin-left: 30%;
    font-size: 1.1rem; }

#ifsc-account-div input {
  width: 40%;
  margin-left: 30%;
  border: 1px solid green;
  padding: 1%;
  margin-top: 1%;
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 10px; }

#add-account-button {
  width: 20%;
  margin-left: 40%;
  font-size: 1.1rem; }
